# STS / Eclipse 프로젝트별 로컬 설정
.project
.classpath
.settings/
.metadata/
*.launch

# Java 빌드 결과
**/bin/
**/target/
*.class

# 로그 및 임시 파일
*.log
*.tmp

# 운영체제 파일
Thumbs.db
.DS_Store

# vscode 설정 파일
.vscode/